<div class="dashboard-content">

	<!-- Titlebar -->
	<div id="titlebar">
		<div class="row">
			<div class="col-md-12">
				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="/dashboard">Dashboard</a></li>
						<li>Roles</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>

	{{#if flash}}
	<div class="notification {{ flashtype }} closeable no-shadow">
		<p><span style="text-transform: capitalize">{{ flashtype }}!</span> {{ flash }}</p>
		<a class="close"></a>
	</div>
	{{/if}}

	<div class="notification other3 closeable">
		<p></p>
		<a class="close"></a>
	</div>

	<div class="row">
		<div class="toggle-wrap no_borders">

			<div class="col-lg-12 trigger">
				<div class="col-lg-12 page_box_header toggle active"><i class="im im-icon-Cursor-Click2"></i> <b>Create</b>
					Role<i class="sl sl-icon-plus"></i></div>
			</div>
			<div class="col-lg-12 toggle-container" style="display: none">

				<div id="add-listing">
					<form action="/admin/role" method="POST">

						<!-- Section -->
						<div class="add-listing-section">

							<!-- Row -->
							<div class="row with-forms">
								<br>
								<!-- Status -->
								<div class="col-md-4">
									<h5>Name <span> (Capitalize first letters)</span></h5>
									<input type="text" name="name" maxlength="100" autocomplete="off" required>
								</div>

								<div class="col-md-8">
									<h5>Select Permission(s) </h5>
									<select class="chosen-select-no-single _plain _sel_contact_group"
										name="permissionId" id="sel_contact_group" required multiple>
										<option label="blank"></option>
										<option disabled>--------------------------------------</option>
										{{#each args.allPermissions }}
										<option value="{{ id }}">{{ name }}</option>
										{{/each}}
										<option disabled>--------------------------------------</option>
									</select>
								</div>

								<div class="col-12">
									<h5>Description </h5>
									<input type="text" name="description" maxlength="255">
								</div>
							</div>
							<!-- Row / End -->
							<button type="submit" class="button preview">Create <i
									class="fa fa-arrow-circle-right"></i></button><span
								class="loading_icon fa fa-hourglass-2"></span>

						</div>
						<!-- Section / End -->



					</form>
				</div>
			</div>

		</div>

		

		<div class="col-lg-12" style="margin-top: 30px">
			<div class="col-lg-12 page_box_header">Roles <span>[{{ args.allRoles.length }}]</span>
			</div>
		</div>
		<div class="col-lg-12">

			<div id="add-listing">
				<!-- Section -->
				<div class="add-listing-section">

					<!-- Row -->
					<div class="row with-forms">
						<br>
						<!-- Status -->
						<div class="col-md-12 lists">
							<ul>
								<li class="list_item _hd" style="font-weight: bolder">
									<ul class="saved_item">
										<li style="flex: 4">Name</li>
										<li style="flex: 4">Permissions</li>
										<li style="flex: 2">Users</li>
										<li style="flex: 2">Created</li>
										<li style="flex: 2">...</li>

									</ul>
								</li>
								{{#each args.allRoles}}
								<li class="list_item" data-wh="role">
									<ul class="saved_item _clickable">
										<form><input type="hidden" class="id" value="{{ id }}" /></form>

										<li style="flex: 4" class="dv_name">{{ name }}</li>
										<li style="flex: 4" class="dv_desc">
											{{#each permissions}}
											{{name}},
											{{/each}}
										</li>
										<li style="flex: 2" class="dv_users">
											{{ users.length }}
										</li>
										<li style="flex: 2">{{formatDate createdAt "short"}}</li>
										<li
											style="margin: 3px; margin-right:0; height: 33px; flex: 2; display: flex; background-color: #eee;">
											<span style="flex: 1; text-align:center;align-items: center;display: flex;"
												class="edit_item_btn"><span class="tooltip top" title="Edit"
													style="cursor: pointer"><i class="fa fa-edit"></i></span></span>
											<span
												style="flex: 1; text-align:center;align-items: center;border-left: solid 1px;padding-left: 3px;margin-left: 3px;display: flex;"
												class="del_item_btn"><span class="tooltip top" title="Delete"
													style="cursor: pointer"><i class="fa fa-trash-o"></i><span></span>
										</li>
									</ul>
									<div class="inline_edit">
										<div class="row with-forms">
											<!-- Status -->
											<form>
												<div class="col-md-4">
													<h5>Name </h5>
													<input type="text" name="name" class="ed_name" maxlength="50"
														value="{{ name }}">
													<input type="hidden" name="id" class="id" value="{{ id }}">
												</div>

												<div class="col-md-6">
													<h5>Permissions </h5>

												
										<select class="chosen-select-no-single ed_desc _plain _sel_contact_group"
										name="permissionId" id="sel_contact_group" required multiple>
										<option label="blank"></option>
										<option disabled>--------------------------------------</option>
										{{#each ../args.allPermissions }}
										<option value="{{ id }}">{{ name }}</option>
										{{/each}}

										<option disabled>--------------------------------------</option>
									</select>



											</form>

											<div class="col-md-2">
												<h5 style="text-align: center"><i class="fa fa-ellipsis-h"></i></h5>
												<div style="display: flex; padding-top: 10px;">
													<span style="flex: 1; text-align:center;"
														class="save_edit_btn"><span class="tooltip top" title="Save"
															style="color: green; cursor: pointer"><i
																class="fa fa-check"></i></span></span> |
													<span style="flex: 1; text-align:center"
														class="cancel_edit_btn"><span class="tooltip top" title="Cancel"
															style="color: red; cursor: pointer"><i
																class="fa fa-times"></i></span></span>
												</div>
											</div>

										</div>
									</div>
								</li>
								{{else}}
								<em>No Role added yet.</em>
								{{/each}}
							</ul>
						</div>

					</div>
					<!-- Row / End -->

				</div>
				<!-- Section / End -->
			</div>
		</div>


		<!-- Copyrights -->
		<div class="col-md-12">
			<div class="copyrights">© 2019 Tracksend. All Rights Reserved.</div>
		</div>

	</div>

</div>

<script>
	/*function updateCountry(me) {

		const id = $(me).closest('.saved_item').find('.cid').val();
		const available = $(me).closest('.saved_item').find('.available').is(':checked') ? "on" : "";

		$('.notification.other3 p').text('');
		$('.notification.other3').hide();

		$.ajax({
			type: 'POST',
			url: "/admin/updatecountry/",
			contentType: 'application/json; charset=utf-8',
			data: JSON.stringify({ id, available }),
			success: function( data ) {
				$('.notification.other3').removeClass('success error').addClass(data.response);
				$('.notification.other3 p').text(data.response == "success" ? 'Country updated successfully.' : 'An error occurred.');
				$('.notification.other3').show();
			},
			error: function(resp, dd, ww) {
				$('.notification.other3').removeClass('success error').addClass('error');
				$('.notification.other3 p').text('An error occurred.');
				$('.notification.other3').show();
			}
		})
	}*/
</script>